#header {
    display: flex;
    align-content: center;
    justify-content: space-around;
    /* border: solid black 5px; */
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    padding-left: 25%;
    padding-right: 25%;
    /* padding-bottom: 1%; */
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    display: flex;
    height: 2rem;
    font-size: large;
}


.passcontainer {
    display: flex;
    /* align-content: center; */
    justify-content: space-around;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;

}

#pass {
    border-radius: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: large;
    height: 2rem;
    margin: 1px;
    align-content: center;
    align-items: center;
    text-align: center;
}